
# Web Crawling
crawl4ai
requests
beautifulsoup4
lxml
PyPDF2
transformers==4.39.3

# PDF Parsing
pymupdf
pdfplumber
camelot-py
openpyxl
pillow

# Text Processing
trafilatura
html2text
tqdm

# Embedding
openai
tiktoken

# Vector DB
qdrant-client

# Data
pandas
numpy
python-dotenv

# Backend
fastapi
uvicorn

# Frontend
streamlit

# Misc
aiohttp
psutil
supabase
langdetect
pydantic-ai
boto3
